# ðŸ“Š Employee Performance Analysis Report
- Prepared by: PolyTech [Capilitan, Niones, Raquem, Victorio, Villarta]
- Role: Junior Data Analyst  
- Objective: To uncover insights in employee performance using real-world HR data.
- Date: July 2025

This report explores how age, experience, education, and department 
relate to employee performance.
Findings will guide HR in training, hiring, and promotion decisions.

## Import Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data Loading & Initial Exploration

In [5]:
df = pd.read_csv('employee_performance.csv')
df.head()

,age,years_EXPerience,education_level,group/department,performancescore,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,Average
3,27,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor

## About Dataset